<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
  <session-factory>
    <mapping class="com.ibiscus.shopnchek.domain.security.User"></mapping>

    <mapping class="com.ibiscus.shopnchek.domain.admin.Shopper"></mapping>
    <mapping class="com.ibiscus.shopnchek.domain.admin.OrdenPago"></mapping>
    <mapping class="com.ibiscus.shopnchek.domain.admin.ItemOrden"></mapping>
    <mapping class="com.ibiscus.shopnchek.domain.admin.OrderState"></mapping>
    <mapping class="com.ibiscus.shopnchek.domain.admin.MedioPago"></mapping>
    <mapping class="com.ibiscus.shopnchek.domain.admin.TipoPago"></mapping>
  </session-factory>
</hibernate-configuration>