.mandatory {
  color: red;
  font-weight: bold;
}

.titular-widget .nombre-titular, .shopper-name {
  width: 300px;
}

a.action {
  font-size: 10px;
}

.observacion label {
  float: left;
  margin-right: 15px;
  text-align: right;
  width: 90px;
}

.observacion textarea {
  width: 500px;
}

.ui-widget-content {
  background-color: #ffffff;
  background-image: none;
}

.ui-widget-header {
  background-color: #f3f8db;
  background-image: none;
  border: 1px solid #9abd1e;
  color: #9abd1e;
}

.ui-tabs .ui-widget-header, .ui-tabs.ui-widget-content {
  border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background-color: #f3f8db;
  background-image: none;
  border-color: #ddd;
}

.ui-autocomplete {
  border: 1px solid #9ebe00;
}

.LV_validation_message.LV_valid {
  display: none;
}

.LV_invalid {
  color: #CC0000;
  margin-left: 5px;
}

.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
  border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
  border: 1px solid #CC0000;
}

.clear {
  margin-right: 5px;
}

ul.options {
  height: 30px;
  margin-top: 10px;
}

ul.options li {
  float: left;
  width: 150px;
}

ul.date {
  height: 40px;
}

ul.date li {
  float: left;
  width: 250px;
}

ul.date li.check {
  padding-top: 10px;
}

.field {
  height: 40px;
}

.field label {
  display: inline-block;
  width: 125px;
}

.field label.field-name {
  font-weight: bold;
}

.field input[type=text] {
  width: 200px;
}

.field input[type=radio] {
  margin-top: 10px;
}

.sucursal select {
  width: 600px;
}

.date-selector div {
  float: left;
  width: 250px;
}

.date-selector div.full {
  width: 400px;
}

textarea.observacion {
  width: 500px;
}

.form-success-txt {
  border: 1px solid #5DA200;
  padding: 5px 10px;
  background-color: #5DA200;
  border-radius: 5px;
  color: #FFF9F7;
  margin-bottom: 15px;
}
